<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MainMapper">
<!--   ManagerIdCheck    -->
    <select id="checkManagerId" parameterType="String" resultType="int">
        SELECT COUNT(*)
            FROM tmanager
        WHERE sManagerId = #{sManagerId};

    </select>


<!--    ManagerRegister   -->
    <insert id="register" parameterType="map">
        INSERT INTO tmanager
        (`sManagerId`, `sManagerPassword`, `sManagerName`, `sFcmToken`, `nIsUsing`)
        VALUES (#{sManagerId}, #{password}, #{sManagerName}, '', 1);
    </insert>

<!--    ManagerLogin    -->
    <select id="login" parameterType="map" resultType="com.watchwell.web.dto.ManagerDto">
        SELECT * FROM tmanager
        WHERE sManagerId = #{sManagerId} AND sManagerPassword = #{password}
    </select>
</mapper>